/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

 @import 'reset.scss';

 @import 'comments.scss';
 @import 'dropdown.scss';
 @import 'header.scss';
 @import 'modal_sidebar.scss';
 @import 'search_video_index.scss';
 @import 'session_form.scss';
 @import 'sidebar.scss';
 @import 'video_form.scss';
 @import 'video_index.scss';
 @import 'video_show.scss';

 html {
    height: 100%;
 }

 body {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    background: rgb(250, 250, 250);
 }

 body a {
    text-decoration: none;
 }

 body input:hover {
    cursor: text;
 }

 body a:hover {
    cursor: pointer;
 }