.dropdown-box-container {
    position: absolute;
    right: 1vw;
    top: 7vh;
}

.dropdown-box {
    height: 500px;
    width: 300px;
    background: white;
    z-index: 500;
    box-shadow: 9px 2px 20px -4px rgba(0,0,0,0.25), -9px 2px 16px -4px rgba(0,0,0,0.25);
}

.dropdown-box-header {
    display: flex;
}