.header {
    width: 100%;
    height: 56px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 10px hsl(0, 0%, 90%);
    background: rgb(255, 255, 255);
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
}

.header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    padding-left: 24px;
}

.header-left > svg {
    font-size: 20px;
    font-weight: lighter;
    color: #606060;
}

.header-logo {
    font-size: 20px;
    display: flex;
    align-items: center; 
}

.header-logo > svg {
    color: #FF0000;
    font-size: 22px;
    transform: rotate(180deg);
}

.header-logo span {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
    padding-left: 3px;
    font-stretch: extra-condensed;
    font-size: 18px;
}

.header-right {
    width: 155px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;
}

.header-right-upload {
    color: #606060;
    font-size: 20px;
}

.header-signin {
    border: 1px solid #065FD4;
    border-radius: 2px;
    padding: 5px 11px;
    height: 80%;
    display: flex;
    align-items: center;
    color: #065FD4;
}

.header-signin svg {
    font-size: 22px;
}

.header-signin span {
    padding-left: 5px;
    font-size: 14px;
    font-weight: bold;
}

.header-logout {
    border: 1px solid #065FD4;
    border-radius: 2px;
    padding: 5px 11px;
    height: 80%;
    display: flex;
    align-items: center;
    color: #065FD4;
    display: block;
}

.header-logout:hover {
    cursor: pointer;
}

.header-logout div {
    background: rgb(253, 77, 41);
    color: white;
    padding: 3px 6px;
    height: 22px;
    width: 22px;
    border-radius: 100%;
    display: inline-block;
    box-sizing: border-box;
    line-height: 17px;
    box-shadow: 0.5px 1px 2px #606060;
}

.header-logout span {
    padding-left: 5px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}