.header {
    width: 100%;
    height: 56px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 10px hsl(0, 0%, 90%);
    background: rgb(255, 255, 255);
    position: fixed;
    z-index: 200;
    left: 0;
    right: 0;
    top: 0;
}

.header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    padding-left: 24px;
}

.header-burger-button > svg {
    font-size: 21px;
    font-weight: lighter;
    color: #606060;
}

.header-burger-button > svg:hover {
    cursor: pointer;
}

.header-logo {
    font-size: 20px;
    display: flex;
    align-items: center; 
}

.header-logo > svg {
    color: #FF0000;
    font-size: 23px;
    transform: rotate(180deg);
}

.header-logo span {
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight: bolder;
    padding-left: 3px;
    font-stretch: extra-condensed;
    font-size: 25px;
}

.header-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 32px;
}

.header-right-upload {
    color: #606060;
    font-size: 20px;
}

.header-signin {
    border: 1px solid #065FD4;
    border-radius: 2px;
    padding: 5px 11px;
    height: 80%;
    display: flex;
    align-items: center;
    color: #065FD4;
    margin-left: 24px;
}

.header-signin svg {
    font-size: 22px;
}

.header-signin span {
    padding-left: 5px;
    font-size: 14px;
    font-weight: bold;
}

.header-logout:hover {
    cursor: pointer;
}

.header-logout div {
    background: rgb(253, 77, 41);
    color: white;
    font-size: 18px;
    height: 34px;
    width: 34px;
    border-radius: 100%;
    line-height: 36px;
    margin-left: 90px;
}

.header-search {
    display: flex;
    width: 35%;
}


.search-bar {
    width: 90%;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px;
}

.search-bar input {
    width: 100%;
    height: 100%;
    padding-left: 10px;
}

.search-button {
    // padding: 5px;
    width: 10%;
    border: 1px solid rgb(204, 204, 204);
    border-left: none;
    border-radius: 2px;
    padding: 7px 0;
    background: rgb(248, 248, 248);
    color: rgb(130, 130, 130);
}

.search-button:hover {
    background: rgb(240, 240, 240);
    color: rgb(51, 51, 51);
    box-shadow: 0 1px 1px rgb(240, 240, 240);
    cursor: pointer;
}
