.main-app-container {
    display: flex;
}

.sidebar-container {
    height: 100%;
    width: 68px;
    // margin: auto;
    display: flex;
    // justify-content: space-between;
    // align-items: center;
    // box-shadow: 0 1px 10px hsl(0, 0%, 90%);
    // background: rgb(255, 255, 255);
    background: pink;
    position: fixed;
    z-index: 998;
    left: 0;
    right: 0;
    top: 0;
}