.main-app-container {
    display: flex;
    width: 100vw;
}

.small-sidebar {
    width: 64px;
    height: 100vw;
    display: flex;
    flex-direction: column;
    background: rgb(245, 245, 245);
    z-index: 998;
}

.large-sidebar {
    width: 175px;
    background: rgb(245, 245, 245);
    z-index: 998;
    height: 100vw;
}

.sidebar-spacer {
    height: 56px;
}

.sidebar-main {
    display: flex;
    flex-direction: column;
    // position: fixed;
}

.sidebar-home {
    color: #606060;
    
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
    position: fixed;
}

.column svg {
    padding-left: 3px;
}

.column span {
    font-size: 12px;
    padding-top: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    position: fixed;
    padding: 20px 41px 20px 20px;
}

.row svg {
    margin-right: 30px;
    margin-left: 4px;
    // padding-left: 3px;
}

.row span {
    font-size: 18px;
}

.sidebar-home:hover {
    cursor: pointer;
    background: rgb(220, 220, 220,);
}

.sidebar-home svg {
    font-size: 17px;
}


