.main-app-container {
    display: flex;
    width: 100vw;
}

.small-sidebar {
    width: 64px;
    height: 100vw;
    display: flex;
    flex-direction: column;
    background: rgb(245, 245, 245);
    z-index: 998;
}

.large-sidebar {
    width: 175px;
    background: rgb(245, 245, 245);
    z-index: 998;
    height: 100vw;
}

.sidebar-spacer {
    height: 56px;
}

.sidebar-main {
    display: flex;
    flex-direction: column;
    // position: fixed;
}

.sidebar-home {
    color: #606060;
}

.sidebar-home.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
    position: fixed;
}

.sidebar-home.column svg {
    padding-left: 3px;
}

.sidebar-home.column span {
    font-size: 12px;
    padding-top: 5px;
}

.sidebar-home.row {
    display: flex;
    flex-direction: row;
    position: fixed;
    padding: 20px 51px 20px 20px;
}

.sidebar-home.row svg {
    margin-right: 30px;
    margin-left: 4px;
}

.sidebar-home.row span {
    font-size: 18px;
}

.sidebar-home:hover {
    cursor: pointer;
    background: rgb(220, 220, 220,);
}

.sidebar-home svg {
    font-size: 17px;
}

// upload
.sidebar-upload {
    color: #606060;
}

.sidebar-upload.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 12px;
    position: fixed;
    top: 131px;
}

.sidebar-upload.column svg {
    padding-left: 3px;
}

.sidebar-upload.column span {
    font-size: 12px;
    padding-top: 5px;
}

.sidebar-upload.row {
    display: flex;
    flex-direction: row;
    position: fixed;
    padding: 20px 40px 20px 21px;
    top: 115px;
}

.sidebar-upload.row svg {
    margin-right: 30px;
    margin-left: 4px;
}

.sidebar-upload.row span {
    font-size: 18px;
}

.sidebar-upload:hover {
    cursor: pointer;
    background: rgb(220, 220, 220,);
}

.sidebar-upload svg {
    font-size: 17px;
}

// github
.sidebar-github {
    color: #606060;
}

.sidebar-github.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 13px;
    position: fixed;
    top: 205px;
}

.sidebar-github.column svg {
    padding-left: 3px;
}

.sidebar-github.column span {
    font-size: 12px;
    padding-top: 5px;
}

.sidebar-github.row {
    display: flex;
    flex-direction: row;
    position: fixed;
    padding: 20px 47px 20px 20px;
    top: 174px;
}

.sidebar-github.row svg {
    margin-right: 30px;
    margin-left: 4px;
}

.sidebar-github.row span {
    font-size: 18px;
}

.sidebar-github:hover {
    cursor: pointer;
    background: rgb(220, 220, 220,);
}

.sidebar-github svg {
    font-size: 17px;
}

// LinkedIn
.sidebar-linkedin {
    color: #606060;
}

.sidebar-linkedin.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 19px 8px;
    position: fixed;
    top: 279px;
}

.sidebar-linkedin.column svg {
    padding-left: 2px;
}

.sidebar-linkedin.column span {
    font-size: 12px;
    padding-top: 5px;
}

.sidebar-linkedin.row {
    display: flex;
    flex-direction: row;
    position: fixed;
    padding: 20px 47px 20px 20px;
    top: 200px;
}

.sidebar-linkedin.row svg {
    margin-right: 30px;
    margin-left: 4px;
}

.sidebar-linkedin.row span {
    font-size: 18px;
}

.sidebar-linkedin:hover {
    cursor: pointer;
    background: rgb(220, 220, 220,);
}

.sidebar-linkedin svg {
    font-size: 17px;
}


