.video-form-page {
    width: 88%;
    height: 100vh;
}

.video-form-filler {
    height: 65px;
}

.video-form-container {
    width: 55%;
    margin-left: 289px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(230, 230, 230);
    font-family: 'Roboto', Arial, sans-serif;
    padding-bottom: 15px;
}

.video-form-container > h3 {
    font-size: 18px;
    padding: 15px 0 0;
    align-self: flex-start;
    margin-left: 25px;
    padding-bottom: 15px;
}

.video-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.video-form-inputs-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 15px;
}


.video-form-video-upload-label {
    padding: 20px;
    margin-right: 10px;
    height: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(241, 241, 241);
    box-shadow: 0 0 4px rgb(220, 220, 220) inset;
    border: 2px solid rgb(229, 229, 229);
    border-radius: 2px;
    box-sizing: content-box;
    // margin: 0 70px 0 0;
}

.video-form-thumbnail-upload-label {
    padding: 20px;
    // margin-left: 5px;
    height: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(241, 241, 241);
    box-shadow: 0 0 4px rgb(220, 220, 220) inset;
    border: 2px solid rgb(229, 229, 229);
    border-radius: 2px;
    box-sizing: content-box;
}

.video-form-thumbnail-upload-label img {
    width: 232px;
    height: 132px;
}

.video-form-inputs-top label:hover {
    color: #065FD4;
    cursor: pointer;
    border: 2px solid #1A73E8;
}

.video-form-inputs-top label:active {
    color: rgb(73, 135, 216);
}

#video-form-video-upload {
    display: none;
}

.video-check {
    color: green;
}

#video-form-thumbnail-upload {
    display: none;
}

.video-form-inputs-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.video-form-inputs-bottom input {
    padding: 8px 0 8px 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 2px;
}

.video-form-inputs-bottom textarea {
    padding: 8px 0 8px 10px;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 2px;
    height: 90px;
}


.video-form-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;

}

.video-form-buttons button {
    width: 80px;
    height: 35px;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Roboto', Arial, sans-serif;
    color: #fff;
}

.video-form-submit-btn {
    background: #1A73E8;
    color: #fff;
    width: 80px;
    height: 35px;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Roboto', Arial, sans-serif;
}

.video-form-submit-btn:hover {
    cursor: pointer;
    background: rgb(0, 125, 225);
    box-shadow: 0.5px 1px 2px rgb(0, 125, 225);
}

.video-form-edit-delete {
    background: rgb(252, 13, 27);
    margin-right: 40px;
}

.video-form-edit-delete:hover {
    cursor: pointer;
    background: rgb(225, 13, 26);
    box-shadow: 0.5px 1px 2px rgb(215, 10, 26)
}

.video-form-errors {
    width: 450px;
    margin: 0 auto;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FF0000;
    list-style: circle;
    margin-top: 10px;
}

.video-form-errors li {
    padding-bottom: 4px;
}

.video-form-errors {
    margin-bottom: 10px;
}

.hidden {
    display: none;
}